bcrypt==3.1.0
cryptography==2.1.4
configobj==5.0.5
Flask==0.12.2
Flask-Assets==0.12
Flask-Babel==0.11.2
Flask-BabelEx==0.9.3
Flask-Login==0.4.1
Flask-OAuthlib==0.9.3
Flask-SQLAlchemy==2.1
Flask-WTF==0.14.2
oauthlib==2.0.6
pkg-resources==0.0.0
pyasn1==0.4.2
pyotp==2.2.1
python-ldap==2.4.21
qrcode==5.3
speaklater==1.3
webassets==0.12.1
dnspython>=1.12.0
python-saml==2.3.0
pyOpenSSL>=0.15
pytz>=2017.3